button {
  border: none !important;
}

a {
  text-decoration: none;
  color: white;
  margin-bottom: 4px;
}

.schedule-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px;
}

.schedule-row {
  white-space: nowrap;
  margin: 16px;
}

.schedule-col {
  display: inline-block;
  /* margin-right: 10px; */
}

.task-box {
  width: 300px;
  height: 150px;
  background-color: transparent;
  color: #5F6369;
  border-left: solid 2px #9DA0A4;
}

.time {
  margin-left: 8px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border-radius: 15px;
  min-height: 80px;
  padding: 16px;
  color: white;
}

.task-details {
  display: flex;
  flex-direction: column;
}

.delete-btn {
  cursor: pointer;
}

.date {
  font-size: 24px;
  /* margin-bottom: 10px; */
  margin: 24px;
}

.card {
  text-align: left;
  border: none;
  border-radius: 15px;
  background-color: #F2F3F5;
  height: 100%;
}

.card img {
  border-radius: 15px;
  min-height: 150px;
}

.result-title {
  font-size: 18px;
  margin-bottom: 24px;
}

.add-btn {
  background-color: #08A045;
  color: white;
  width: 50%;
  margin-left: 6px;
}

.view-btn {
  background-color: #DCDDE0;
  color: #5F6369;
  width: 50%;
  margin-right: 6px;
}
.location-search-btn {
  background-color: #08A045;
  width: 30%;
}

.location-search-btn:hover {
  background-color: #0d813b;
}

#searchBtn {
  background-color: #08A045;
  color: white;
  border: solid 1px #08A045 !important;
}

#daily-schedule {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100vw;
  background-color: #DCDDE0;
  border-radius: 20px 20px 0px 0px;
}

#page-content {
  padding-bottom: 300px;
}

/* adding to bootstraps custom class for consistency */
.card-img-top{
  object-fit:cover;
  height:13vw;
  width:100%;
}