.schedule-container {
  width: 100%;
  overflow-x: auto;
  padding: 10px;
}

.schedule-row {
  white-space: nowrap;
}

.schedule-col {
  display: inline-block;
  margin-right: 10px;
}

.task-box {
  width: 200px;
  height: 200px;
  background-color: #a8dbfa;
  border-radius: 10px;
}

.task {
  height: calc(100% - 25px);
}
.date {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.card {
  justify-content: center;
  border-radius: 10px;
}
